@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    大家好<br />
    下面是我的联系方式和留言入口<br />
    欢迎大家给我提出意见，也欢迎有兴趣的朋友联系我一起维护 My Log <br />
</address>

<address>
    <strong>QQ:</strong>   <a href="#">757891685</a><br />
    <strong>Email:</strong> <a href="#">757891685@qq.com</a><br />
    <strong>GitHub:</strong> <a href="https://liuchenshare.github.io/" target="view_window">LiuChenShare</a><br />
    <strong>博客园:</strong> <a href="http://www.cnblogs.com/amber-L/" target="view_window">爱上猫的红烧鱼</a><br />
</address>

<div style="width: 400px">
    <label>意见内容:&nbsp;</label><textarea style="width: 400px; height: 300px"></textarea><br /><br />
    <label>你的称呼:&nbsp;</label><input style="width: 400px; "/><br /><br />
    <label>如何联系:&nbsp;</label><input style="width: 400px; "/><br /><br />
    <div style="text-align: center;" ><button style="background-color: #00bfff; width: 50px;height: 50px;border-radius: 50%; border: none;font-size: 24px" title="飞鸽传书">✔</button></div>
</div>

