@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Log</h1>
    <p class="lead">My Log 旨在为使用者记录待办事项和规划日程，目前它还是一个小工具，欢迎使用者提出改进意见.</p>
    <p><a href="#" class="btn btn-primary btn-lg">进入</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>简介</h2>
        <p>
            这是我建立的一个个人站点，用于自己平时记录日程和日志记录。当然，它也是开放的，你可以通过注册账户来使用它的一些功能。
        </p>
        <p><a class="btn btn-default" href="https://baidu.com">了解更多</a></p>
    </div>
</div>